<div class="container">
  <h1>TodoList-myApp</h1>

  <hr>
  <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
    <div class="form-group">
      <label for="task">Task</label>
      <input type="text" class="form-control" id="task" placeholder="Enter task" [(ngModel)]="task" name="task" required>
      <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">Required field</small>
    </div>

    <button *ngIf="!isEdit" [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary">Submit</button>
    <button *ngIf="isEdit" (click)="onUpdate(taskForm)" type="button" class="btn btn-success">Update</button>
    <button *ngIf="isEdit" (click)="onCancel()" type="button" class="btn btn-secondary">Cancel</button>
  </form>

  <hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Completed</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of taskArray; index as i">
        <td [ngClass]="{'completed-task': t.completed}">{{t.taskName}}</td>
        <td><input (change)="onCheck(i)" type="checkbox" [checked]="t.completed"></td>
        <td>
          <button class="btn btn-warning btn-sm" (click)="onEdit(i)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
